body.cardp-body{
    display: block;
    background-color: beige;
    width: auto;
    padding: 8px 0px 10px;
  }
.container.cardp-container{
    margin-top: 4%;
    margin-left: auto;
    display:block;
    text-align: center;
    margin-left: auto;
    padding: 8px 0px 10px;
}
.card.cardp-card {
    align-content:center;
  padding: 8px 0px 10px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    display: block;
}
.card.card-body{
    width: 300px;
    height: 323px;
    padding: 8px 2px 10px;    
}
.card.quescard {
   margin-top: 5%;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 2%;
    
    display:block;
    align-items:flex-start;
 align-content: flex-start;
    text-align:center;
    color: black;
    background-color:burlywood;
    width: 300px;
    height: 323px;
    align-items: center;
    display:initial;
    justify-content: center;      
}


.crazy{
    
  width: 230px;
  height: 250px;
  background-color: red;
 position: relative;
  animation-name: example;
  animation-duration: 3s;
}

@keyframes example {
  0%   {background-color:red; left:255px; top:-500px;}
/*     25%  {background-color:yellow; left:200px; top:0px;}
*/    /* 50%  {background-color:blue; left:200px; top:200px;} */
  100%  {background-color:green; left:255px; top:-290px;}
/*     100% {background-color:red; left:0px; top:0px;}
*/  }

.myaudio{display: none;}
